#fondo{
    background-image: url('/assets/imagenes/back.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    position: relative;
    background-position: center;
    opacity:0.7;
    
}
.relativo {
    position: relative;
}
.absoluto{
    position: absolute;
}
#bgImg{
    background-color: rgb(0, 0, 0);
}
#fondo-text {
    position: absolute;
    bottom: 0;
    opacity: 1;
    height: 80px;
}

.relativo {
    position: relative;
}

#contenido{
    margin-bottom: 300px;
}

