<div class="card mb-3">
    <br>
<h4>EXPERIENCIA LABORAL</h4>

<app-card-img title="ASISTENTE ADMINISTRATIVO" texto="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, accusantium a sunt nostrum repellendus esse reprehenderit? Corrupti, consectetur dignissimos ducimus est iste culpa, nemo at quis ipsam laborum modi laudantium! This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></app-card-img>

<app-card-img title="SOPORTE TECNICO" imagen="assets/imagenes/logo_dnm.jpg" texto="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, accusantium a sunt nostrum repellendus esse reprehenderit? Corrupti, consectetur dignissimos ducimus est iste culpa, nemo at quis ipsam laborum modi laudantium! This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></app-card-img>

<app-card-img title="DESARROLLADOR WEB" imagen="assets/imagenes/logo_dnm.jpg" texto="Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos, accusantium a sunt nostrum repellendus esse reprehenderit? Corrupti, consectetur dignissimos ducimus est iste culpa, nemo at quis ipsam laborum modi laudantium! This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer."></app-card-img>

  </div>

