<div class="row">
    <div class="col-4">
        <circle-progress
          [percent]= {{porcentaje}}
          [radius]="80"
          [imageSrc] = {{imagen}}
          [showImage] = "true"
          [imageHeight] = "90"
          [imageWidth] = "90"
          [showUnits] = "false"
          [title] = {{title}}
          [titleFontSize]="'25px'"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#001625'"
          [innerStrokeColor]="'#001625'"
          [animation]="true"
          [animationDuration]="700"
        ></circle-progress>
    </div>
</div>

<!-- [titleColor]="" -->