        
        <h2>80%</h2>
        <circle-progress
          [percent]= "80"
          [radius]="80"
          [imageSrc] ="'../../assets/imagenes/html.png'"
          [showImage] ="true"
          [imageHeight] ="90"
          [imageWidth] ="90"
          [showUnits] ="false"
          [outerStrokeWidth]="10"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#031E46'"
          [innerStrokeColor]="'#033A46'"
          [animation]="true"
          [animationDuration]="700"
        ></circle-progress>
<!-- [titleColor]="" -->