<div class="row text-center">

    <div class="col-4 ">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>

    <div class="col-4">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-4">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-4">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-4">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-4">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
</div>