<div class="row text-center">

    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>

    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
    <div class="col-sm-12 col-md-6 col-lg-3">
        <app-progress imagen="" porcentaje="50"></app-progress>

    </div>
</div>